<div class="container">
  <div class="form-group">
    <label for="txtFile1">File1</label>
    <input type="text" class="form-control" id="txtFile1" placeholder="Enter File1">
  </div>
  <div class="group">
    <label for="txtFile2">File2</label>
    <input type="text" class="form-control" id="txtFile2" placeholder="Enter File2">
  </div>
  <button (click)="checkEqual()" type="submit" class="btn btn-primary" >Submit</button>
</div>
<!--
<button class="button btn-info" *ngIf='showFile' (click)='showFiles(false)'>Hide Files</button>
 
<button class="button btn-info" *ngIf='!showFile' (click)='showFiles(true)'>Show Files</button>
 
<div [hidden]="!showFile">
  <div class="panel panel-primary">
    <div class="panel-heading">List of Files</div>
    <div *ngFor="let file of fileUploads | async">
      <div class="panel-body">
        <details-upload [fileUpload]='file'></details-upload>
      </div>
    </div>
  </div>
</div>-->
